/* ======= ESTILO GERAL ======= */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* ======= CABEÇALHO ======= */
.cabecalho {
    background-color: #ff0000;
    color: #fff;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.cabecalho h1 {
    margin: 0;
    font-size: 32px;
}

/* ======= MENU ======= */
.menu {
    background-color: #7c0000;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.menu a:hover {
    color: #002fff;
    transform: scale(1.1);
}

/* LINK ATIVO */
.menu a.ativo {
    color: #00ffff;                     /* cor do texto */
    border: 2px solid #ff0000;          /* borda ao redor */
    border-radius: 8px;                 /* deixar mais bonito */
    padding: 8px 15px;                  /* evita que a borda fique muito colada */
    background-color: rgba(0, 255, 255, 0.15); /* destaque suave */
    transform: scale(1.1);              /* aumenta o botão */
}

 
/* ======= TÍTULOS ======= */
h2 {
    color: #800000;
    margin-left: 20px;
}

/* ======= PARÁGRAFOS ======= */
p, ul {
    margin: 20px;
    font-size: 18px;
    line-height: 1.6;
}

/* ======= LISTAS ======= */
ul li {
    margin-bottom: 10px;
}

/* ======= RODAPÉ ======= */
footer {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
}

footer strong {
    font-size: 16px;
}

/* ======= ANIMAÇÕES (opcional) ======= */
body {
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
